<!-- app/views/star_casts/show.html.erb -->
<h1>Star Cast Details</h1>
<%binding.pry%>
<p><strong>Name:</strong> <%= @star_cast.name %></p>
<p><strong>Role Name:</strong> <%= @star_cast.role_name %></p>
<!-- Add any other details you want to display -->
