body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  width: 45%; 
}

.movie:hover {
  transform: scale(1.02);
}

.movie h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.movie p {
  color: #666;
}

.movie-details {
  margin-top: 10px;
  text-align: center;
}

.movie-details img {
  max-width: 100%;
  border-radius: 5px;
}



footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a,
.pagination span {
  display: inline-block;
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #555;
}
header {
  position: relative;
}

.unique-button {
  position: absolute;
  top: 140px; 
  right: 1px; 
  background-color: #3498db; 
  color: #fff; 
  border: 2px solid #3498db; 
  padding: 10px 15px; 
  cursor: pointer;
  border-radius: 5px; 
  font-weight: bold;
}

.unique-button:hover {
  background-color: #2980b9; 
  border-color: #2980b9; 
}

